body {
 font-family: Arial, sans-serif;
 margin: 0;
 padding: 0;
}

header {
     background-color: lightblue
     color: green
     padding: 50px;
     text-align: center;
}

nav ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
}

nav ul li {
     display: inline;
     margin-right: 30px;
}

nav ul li a {
     color: green;
     text-decoration: none;
}

main {
     padding: 20px;
}

section {
     margin-bottom: 30px;
}

footer {
     background-color: violet;
     color: black;
     text-align: center;
     padding: 20px 0;
}
